.user {
    height: 100%;
  }
  
 .user .divHead {
    width: 100%;
    height: 150rpx;
    opacity: 1;
    background: #ffc200;
    box-sizing: border-box;
    padding-left: 24rpx;
    padding-right: 24rpx;
  }
  .user .divHead .userAvatar{
	  margin-left: 100rpx;
	  
  }
  .user .divUserName {
	  font-weight: bold;
	  font-size: 30rpx;
	  margin-top: -100rpx;
	  margin-left: 140rpx;
  }
  .user .divLogin {
	  background: #ffc200;
	  font-weight: bold;
	  font-size: 30rpx;
	  margin-top: -100rpx;
	  margin-left: 140rpx;
  }
  .user .divLogin button::after{
	 
	 border: none;
  }
  .user .userPhone{
	  
	  font-size: 30rpx;
	  margin-top: 10rpx;
	  margin-left: 140rpx;
  }
  
  .user .divHead .divTitle {
    height: 50rpx;
    opacity: 1;
    font-size: 36rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 50rpx;
    letter-spacing: 0;
    padding-top: 100rpx;
    margin-bottom: 36rpx;
    position: relative;
  }
  
  .user .divHead .divTitle i {
    position: absolute;
    left: 0;
    margin-top: 10rpx;
  }
  
 .divHead .divUser {
    display: flex;
  }
  
   .divHead .divUser > img {
    width: 116rpx;
    height: 116rpx;
    border-radius: 50%;
    margin-right: 32rpx;
  
  }
  
   .divHead .divUser .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40%;
  }
  
  
  
   .divHead .divUser .desc .divName {
    opacity: 1;
    font-size: 32rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: left;
    color: #333333;
    margin-right: 12rpx;
    margin-bottom: 10rpx;
    display: flex;
    align-items: center;
  }
  
   .divHead .divUser .desc .divName img {
    width: 32rpx;
    height: 32rpx;
    opacity: 1;
    margin-left: 12rpx;
  }
  
   .divHead .divUser .desc .divPhone {
	
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
  }
  
.divContent {
    /* height: calc(100% - 348rpx); */
    overflow-y: auto;
  }
  
 .divLinks {
    
    
    background: #ffffff;
    border-radius: 12rpx;
    padding-left: 17rpx;
	padding-right: 22rpx;
	margin: 20rpx;
	border-radius: 12rpx;
    opacity: 1;
    
  }
  .foot{
	  border-radius: 12rpx;
	  padding-left: 17rpx;
	  padding-right: 22rpx;
	  margin: 20rpx;
	  border-radius: 12rpx;
	  opacity: 1;
	  text-align: center;
	  margin-top:30rpx;
	  height: 92rpx;
	  background: #ffffff;
  }
  .foot .logout{
	  
	  line-height: 92rpx;
  }
  
  .user .item{
	  
	  height: 102rpx;
	  line-height: 102rpx;
	  position: relative;
	  display: flex;
	  align-items: center;
	  
  }
  .item image {
    width: 36rpx;
    height: 36rpx;
    margin-right: 10rpx;
  }
  
.divLinks .item {
    
    height: 92rpx;
    line-height: 102rpx;
    position: relative;
    display: flex;
    align-items: center;
  }
  
   .divLinks .divSplit {
    height: 2rpx;
    opacity: 1;
    background-color: #ebebeb;
    border: 0;
  }
  
   .divLinks .item image {
    width: 36rpx;
    height: 36rpx;
    margin-right: 20rpx;
	
  }
  
   .divLinks .item view {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  
   .divOrders {
    margin: 20rpx 20rpx 20rpx 20rpx;
    background: #ffffff;
    border-radius: 12rpx;
    padding-left: 20rpx;
    padding-right: 20rpx;
    padding-bottom: 34rpx;
  }
  
   .divOrders .title {
    height: 120rpx;
    line-height: 120rpx;
    opacity: 1;
    font-size: 32rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: left;
    color: #333333;
    letter-spacing: 0;
    border-bottom: 4rpx solid #efefef;
  }
  
   .divOrders .timeStatus {
    height: 92rpx;
    line-height: 32rpx;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #666666;
    line-height: 40rpx;
    letter-spacing: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4rpx dashed #efefef;
  }
  
   .divOrders .timeStatus span:first-child {
    color: #333333;
  }
  
   .divOrders .dishList {
    padding-top: 20rpx;
    padding-bottom: 22rpx;
  }
  
   .divOrders .dishList .item {
    padding-top: 10rpx;
    padding-bottom: 10rpx;
    display: flex;
    justify-content: space-between;
    height: 40rpx;
    opacity: 1;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #666666;
    line-height: 40rpx;
    letter-spacing: 0;
  }
  
   .divOrders .result {
    display: flex;
    justify-content: flex-end;
    height: 40rpx;
    opacity: 1;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #666666;
    line-height: 40rpx;
  }
  
   .divOrders .result .price {
	font-weight: bold;
    color: black;
  }
  
   .divOrders .btn {
    margin-top: 40rpx;
    display: flex;
    justify-content: flex-end;
  }
  
   .divOrders .btn .btnAgain {
    width: 248rpx;
    height: 72rpx;
    opacity: 1;
    border: 2rpx solid #e5e4e4;
    border-radius: 38rpx;
    opacity: 1;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 72rpx;
    letter-spacing: 0;
    position: relative;
  }
  
   .quitLogin {
    margin: 0 20rpx 20rpx 20rpx;
    height: 100rpx;
    opacity: 1;
    background: #ffffff;
    border-radius: 12rpx;
    opacity: 1;
    font-size: 30rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 100rpx;
  }