.address .divHead {
  width: 100%;
  height: 176rpx;
  opacity: 1;
  background: #333333;
  position: relative;
}

.address .divHead .divTitle {
  font-size: 36rpx;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  line-height: 50rpx;
  letter-spacing: 0;
  position: absolute;
  bottom: 26rpx;
  width: 100%;
}

.address .divHead .divTitle i {
  position: absolute;
  left: 32rpx;
  top: 50%;
  transform: translate(0, -50%);
}

.address .divContent {
  height: calc(100vh - 314rpx);
  overflow: auto;
}

.address .divContent .divItem {
  height: 256rpx;
  opacity: 1;
  background: #ffffff;
  border-radius: 12rpx;
  margin-top: 20rpx;
  margin-left: 20rpx;
  margin-right: 18rpx;
  padding-left: 24rpx;
  position: relative;
}

.address .divContent .divItem > image {
  width: 32rpx;
  height: 32rpx;
  position: absolute;
  top: 80rpx;
  right: 48rpx;
}

.address .divContent .divItem .divDefault image {
  width: 32rpx;
  height: 32rpx;
  opacity: 1;
}

.address .divContent .divItem .divAddress {
  font-size: 28rpx;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: #333333;
  line-height: 40rpx;
  letter-spacing: 0;
  padding-top: 42rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 560rpx;
}

.address .divContent .divItem .divAddress text {
  width: 68rpx;
  height: 40rpx;
  opacity: 1;
  font-size: 24rpx;
  display: inline-block;
  text-align: center;
  margin-right: 8rpx;
  margin-bottom: 20rpx;
}

.address .divContent .divItem .divUserPhone text {
  height: 40rpx;
  opacity: 1;
  font-size: 28rpx;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: #999999;
  line-height: 40rpx;
  letter-spacing: 0;
  margin-right: 20rpx;
}

.address .divContent .divItem .divUserPhone text:first-child {
  margin-right: 4rpx;
}

.address .divContent .divItem .divAddress .spanNone {
  background-color: #c9d8e6;
}

.address .divContent .divItem .divAddress .spanCompany {
  background-color: #e1f1fe;
}

.address .divContent .divItem .divAddress .spanHome {
  background: #fef8e7;
}

.address .divContent .divItem .divAddress .spanSchool {
  background: #e7fef8;
}

.address .divContent .divItem .divSplit {
  height: 2rpx;
  opacity: 1;
  background: #efefef;
  border: 0;
  margin-top: 32rpx;
  margin-bottom: 20rpx;
  margin-right: 20rpx;
}

.address .divContent .divItem .divDefault {
  height: 36rpx;
  opacity: 1;
  font-size: 26rpx;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: #333333;
  line-height: 36rpx;
  letter-spacing: 0;
}

.address .divContent .divItem .divDefault image {
  height: 36rpx;
  width: 36rpx;
  margin-right: 10rpx;
  vertical-align: bottom;
}

.address .divBottom {
  height: 72rpx;
  opacity: 1;
  background: #feca50;
  border-radius: 36rpx;
  opacity: 1;
  font-size: 30rpx;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 500;
  text-align: center;
  color: #333333;
  line-height: 72rpx;
  letter-spacing: 0;
  position: absolute;
  bottom: 46rpx;
  left: 50%;
  transform: translate(-50%, 0);
  width: 668rpx;
}
