
  .divHead{
	  width: 100%;
	  height: 310rpx;
  }
  .divHead>image{
	    height: 100%;
	  	width: 100%;
	  
  }
  
   .divHead img {
    position: absolute;
    left: 38rpx;
    top: 82rpx;
    width: 60rpx;
    height: 60rpx;
  }
  
   .divTitle {
    width: 690rpx;
    height: 236rpx;
    opacity: 1;
    background: #ffffff;
    border-radius: 12rpx;
    box-shadow: 0rpx 4rpx 10rpx 0rpx rgba(69, 69, 69, 0.1);
    position: absolute;
    left: 50%;
    top: 120rpx;
    transform: translate(-50%, 0);
    box-sizing: border-box;
    padding: 28rpx 0 0 16rpx;
  }
   .divTitle .divStatic {
    display: flex;
  }
   .divTitle .divStatic .logo {
    width: 78rpx;
    height: 78rpx;
    opacity: 1;
	overflow: hidden;
    border-radius: 12rpx;
    margin-right: 20rpx;
  }
  
   .divTitle .divStatic .divDesc .divName {
    width: 180rpx;
    height: 50rpx;
    opacity: 1;
    font-size: 36rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: left;
    color: #20232a;
    line-height: 50rpx;
  }
  
   .divTitle .divStatic .divDesc .divSend {
    opacity: 1;
    font-size: 22rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
    margin-bottom: 20rpx;
  }
  
   .divTitle .divStatic .divDesc .divSend image {
    width: 28rpx;
    height: 28rpx;
    opacity: 1;
    vertical-align: sub;
  }
  
   .divTitle .divStatic .divDesc .divSend text {
	   margin-left: 5rpx;
    margin-right: 24rpx;
  }
  
   .divTitle .divStatic .divDesc .divSend text:last-child {
    margin-right: 0;
  }
  
   .divTitle > .divDesc {
    opacity: 1;
    font-size: 24rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #9b9b9b;
    line-height: 34rpx;
    margin-right: 36rpx;
    padding-top: 18rpx;
    border-top: 2rpx dashed #ebebeb;
  }
  .menuBar{
	      margin-top: 50rpx;
  }
   .divBody {
    display: flex;
    height: 100%;
  }
  
   .divBody .divType {
    background: #f6f6f6;
    height: 100%;
  }
  
   .divBody .divType .ul {
    /* margin-top: 100rpx; */
    overflow-y: auto;
    height: calc(100vh - 100rpx);
    padding-bottom: 400rpx;
    box-sizing: border-box;
    width: 168rpx;
    opacity: 1;
  }
  
   .divBody .divType .ul .li {
    padding: 32rpx;
    opacity: 1;
    font-size: 26rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #666666;
    line-height: 36rpx;
    letter-spacing: 0rpx;
    word-wrap: break-word;
    word-break: normal;
  }
  
   .divBody .divType .ul .active {

   padding: 32rpx;
    opacity: 1;
    font-size: 26rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #666666;
    line-height: 36rpx;
    letter-spacing: 0rpx;
    word-wrap: break-word;
    word-break: normal;
    background-color: #ffffff;
       
    /* color: #333333;
    font-weight: 500;
    background-color: #ffffff;
    font-family: PingFangSC, PingFangSC-Regular; */
  }
  
   .divBody .divMenu {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
	
	 }
/* 	.divBody .divMenu .mescro-uni{
		 height: calc(100vh - 260px);
	 } */
  .divBody .divMenu .divMenu1 {
    margin-top: 100rpx;
    
    height: calc(100vh - 88rpx); 
  }

   .divBody .divMenu > view {
    margin-top: 122rpx;
    overflow-y: auto;
    height: calc(100% - 122rpx);
    padding-bottom: 400rpx;
    box-sizing: border-box;
  }
  
   .divBody .divMenu .divItem {
    margin: 20rpx 30rpx 40rpx 28rpx;
    display: flex;
  }
  
   .divBody .divMenu .divItem .u-image {
    width: 172rpx;
    height: 172rpx;
    margin-right: 28rpx;
  }
  
   .divBody .divMenu .divItem .u-image image {
    width: 172rpx;
    height: 172rpx;
    border-radius: 10rpx;
  }
  
   .divBody .divMenu .divItem > view {
    position: relative;
  }
  
   .divBody .divMenu .divItem .divName {
    height: 44rpx;
    opacity: 1;
    font-size: 32rpx;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: left;
    color: #333333;
    line-height: 44rpx;
    letter-spacing: 0;
    margin-bottom: 10rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350rpx;
  }
  
   .divBody .divMenu .divItem .divDesc {
    height: 32rpx;
    opacity: 1;
    font-size: 24rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #666666;
    line-height: 32rpx;
    letter-spacing: 0rpx;
    margin-bottom: 8rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 288rpx;
  }
  
   .divBody .divMenu .divItem .divBottom {
    font-size: 30rpx;
    font-family: DIN, DIN-Medium;
    font-weight: 500;
    text-align: left;
    color: #e94e3c;
    line-height: 40rpx;
    letter-spacing: 0rpx;
  }
  
   .divBody .divMenu .divItem .divBottom text:first-child {
    font-size: 24rpx;
  }
  
   .divBody .divMenu .divItem .divBottom text:last-child {
    font-size: 30rpx;
  }
  
   .divBody .divMenu .divItem .divNum {
    display: flex;
    position: absolute;
    right: 24rpx;
    bottom: 0;
  }
  
   .divBody .divMenu .divItem .divNum .divDishNum {
    font-size: 30rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 72rpx;
    letter-spacing: 0;
    width: auto;
  }
  
   .divBody .divMenu .divItem .divNum .divTypes {
    width: 128rpx;
    height: 48rpx;
    opacity: 1;
    background: #feca50;
    border-radius: 24rpx;
    font-size: 24rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 48rpx;
    letter-spacing: 0;
  }
  
   .divBody .divMenu .divItem .divNum image {
    width: 72rpx;
    height: 72rpx;
  }

  
   .divCart {
    width: 690rpx;
    height: 88rpx;
    opacity: 1;
    background: #000000;
    border-radius: 50rpx;
    box-shadow: 0rpx 6rpx 10rpx 0rpx rgba(0, 0, 0, 0.25);
    margin: 0 auto;
	/* #ifdef MP-WEIXIN */
	bottom: 10;
	/* #endif */
	/* #ifdef H5 */
	bottom: 100rpx;
	/* #endif */
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3000;
  }
  .divCart .imgCartActive{
	  	background-image: url('http://47.109.60.249:9000/images/配送快递服务.png')
  }
   .divCart .imgCart{
	   	background-image: url('http://47.109.60.249:9000/images/暂无配送.png')
  }
   .divCart > view:first-child {
    width: 120rpx;
    height: 120rpx;
    position: absolute;
    left: 22rpx;
    bottom: 0;
    background-size: 120rpx 120rpx;
  }
  
   .divCart .divNum {
    font-size: 24rpx;
    font-family: DIN, DIN-Medium;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    letter-spacing: 0rpx;
    position: absolute;
    left: 184rpx;
    top: 20rpx;
  }
  
   .divCart .divNum text:last-child {
    font-size: 40rpx;
  }
  
   .divCart > view:last-child {
    width: 204rpx;
    height: 72rpx;
    opacity: 1;
    border-radius: 36rpx;
    font-size: 30rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    line-height: 72rpx;
    position: absolute;
    right: 10rpx;
    top: 8rpx;
  }
   .divCart > button:last-child {
    width: 204rpx;
    height: 72rpx;
    opacity: 1;
    border-radius: 36rpx;
    font-size: 30rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    line-height: 72rpx;
    position: absolute;
    right: 10rpx;
    top: 8rpx;
  }
  
   .divCart .btnSubmit {
    color: white;
    background: #d8d8d8;
  }
   .divCart .btnSubmitActive {
    color: #333333;
    background: #feca50;
  }
  
   .divCart .divGoodsNum {
    width: 36rpx;
    height: 36rpx;
    opacity: 1;
    background: #e94e3c;
    border-radius: 50%;
    text-align: center;
    font-size: 24rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    color: #ffffff;
    line-height: 36rpx;
    position: absolute;
    left: 100rpx;
    top: -10rpx;
  }
  
   .divCart .moreGoods {
    width: 50rpx;
    height: 50rpx;
    line-height: 50rpx;
  }
  
   .divLayer {
    position: absolute;
    height: 88rpx;
    width: 100%;
    bottom: 0;
    display: flex;
  }
  
   .divLayer .divLayerLeft {
    background-color: #f6f6f6;
    opacity: 0.5;
    width: 168rpx;
    height: 100%;
  }
  
   .divLayer .divLayerRight {
    background-color: white;
    opacity: 0.5;
    width: calc(100% - 168rpx);
    height: 100%;
  }
  
   .dialogFlavor {
    opacity: 1;
    background: #ffffff;
    border-radius: 20rpx;
  }
  
   .dialogFlavor .dialogTitle {
    margin-top: 26px;
    margin-bottom: 28rpx;
    font-size: 36rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
	font-weight: bold;
  }
  
   .dialogFlavor .divContent {
    margin-left: 30rpx;
    margin-right: 30rpx;
  }
  
   .dialogFlavor .divContent .divFlavorTitle {
    height: 40rpx;
    opacity: 1;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
    color: #666666;
    line-height: 40rpx;
    letter-spacing: 0;
    margin-left: 10rpx;
    margin-bottom: 20rpx;
    margin-top: 20rpx;
  }
  
   .dialogFlavor .divContent text {
    display: inline-block;
    height: 60rpx;
    opacity: 1;
    background: #ffffff;
    border: 2rpx solid #feca50;
    border-radius: 7px;
    line-height: 60rpx;
    padding-left: 26rpx;
    padding-right: 26rpx;
    margin: 0 10rpx 20rpx 10rpx;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #333333;
  }
  
   .dialogFlavor .divContent .spanActive {
	display: inline-block;
	height: 60rpx;
	opacity: 1;
	
	border: 2rpx solid #feca50;
	border-radius: 7px;
	line-height: 60rpx;
	padding-left: 26rpx;
	padding-right: 26rpx;
	margin: 0 10rpx 20rpx 10rpx;
	font-size: 28rpx;
	font-family: PingFangSC, PingFangSC-Regular;
	
	text-align: center;
	color: #333333;   
    background: #feca50;
    font-weight: 500;
  }
  
   .dialogFlavor .divBottom {
    margin-top: 40rpx;
    margin-bottom: 38rpx;
    margin-left: 40rpx;
    display: flex;
    position: relative;
  }
  
   .dialogFlavor .divBottom view:first-child {
    height: 60rpx;
    opacity: 1;
    font-size: 40rpx;
    font-family: DIN, DIN-Medium;
    font-weight: 500;
    text-align: left;
    color: #e94e3c;
    line-height: 60rpx;
    letter-spacing: 0;
  }
  
   .dialogFlavor .divBottom view text {
    font-size: 28rpx;
  }
  
   .dialogFlavor .divBottom view:last-child {
    width: 200rpx;
    height: 60rpx;
    opacity: 1;
    background: #feca50;
    border-radius: 30rpx;
    text-align: center;
    line-height: 60rpx;
    position: absolute;
    right: 40rpx;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
  }
  
   .dialogFlavor .divFlavorClose {
    position: absolute;
    bottom: -140rpx;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
   .dialogFlavor .divFlavorClose image {
    width: 88rpx;
    height: 88rpx;
  }
  
   .dialogCart {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 81%);
    border-radius: 24rpx 24rpx 0rpx 0rpx;
  }
  
   .dialogCart .divCartTitle {
    height: 90rpx;
    display: flex;
    line-height: 120rpx;
    position: relative;
    margin-left: 30rpx;
    margin-right: 20rpx;
    border-bottom: 2rpx solid #efefef;
  }
  
   .dialogCart .divCartTitle .title {
    font-size: 40rpx;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: left;
    color: #333333;
  }
   .dialogCart .divCartTitle view {
    margin-right: 6rpx;
    font-size: 30rpx;
    vertical-align: middle;
  }
  
   .dialogCart .divCartTitle .clear {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #999999;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: left;
  }
  
   .dialogCart .divCartItem {
    height: 216rpx;
    margin-left: 30rpx;
    margin-right: 20rpx;
    display: flex;
    align-items: center;
    position: relative;
  }
  
   .dialogCart .divCartContent {
    height: calc(100vh - 180rpx);
    overflow-y: auto;
  }
  
   .dialogCart .divCartContent .u-image {
    width: 128rpx;
    height: 128rpx;
    opacity: 1;
    margin-right: 20rpx;
  }
  
   .dialogCart .divCartContent .u-image image {
    width: 128rpx;
    height: 128rpx;
  }
  
   .dialogCart .divCartContent .divDesc .name {
    height: 44rpx;
    opacity: 1;
    font-size: 32rpx;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    text-align: left;
    color: #333333;
    line-height: 44rpx;
    letter-spacing: 0;
    margin-bottom: 34rpx;
  }
  
   .dialogCart .divCartContent .divDesc .price {
    font-size: 36rpx;
    font-family: DIN, DIN-Medium;
    font-weight: 500;
    text-align: left;
    color: #e94e3c;
  }
  
   .dialogCart .divCartContent .divDesc .price .spanMoney {
    font-size: 24rpx;
	
  }
  
   .dialogCart .divCartContent .divCartItem .divNum {
    position: absolute;
    right: 0;
    bottom: 20rpx;
    display: flex;
    line-height: 72rpx;
    height: 72rpx;
  }
  
   .dialogCart .divCartContent .divCartItem .divNum image {
    width: 72rpx;
    height: 72rpx;
  }
  
   .dialogCart .divCartContent .divCartItem .divSplit {
    width: calc(100% - 128rpx);
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2rpx;
    opacity: 1;
    background-color: #efefef;
  }
  
   .dialogCart .divCartContent .divCartItem:last-child .divSplit {
    height: 0;
  }
  
   .detailsDialog {
	
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
   .detailsDialog .divContainer {
	
    padding: 40rpx 40rpx 0rpx 40rpx;
    overflow: auto;
    max-height: 46vh;
    overflow-y: auto;
  }
  
   .detailsDialog .u-image {
    width: 100%;
    height: 100%;
  }
  
   .detailsDialog .u-image image {
    width: 80%;
    height: 80%;
  }
  
   .detailsDialog .title {
    height: 56rpx;
    opacity: 1;
    font-size: 40rpx;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    color: #333333;
    line-height: 56rpx;
    letter-spacing: 0;
    margin-top: 36rpx;
    margin-bottom: 22rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  
   .detailsDialog .content {
    opacity: 1;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #333333;
    line-height: 48rpx;
	max-width: fit-content;
  }
  
   .detailsDialog .divNum {
    display: flex;
    justify-content: space-between;
    margin-top: 46rpx;
    margin-bottom: 40rpx;
    padding-left: 40rpx;
    padding-right: 40rpx;
  }
  
   .detailsDialog .divNum .left {
    font-size: 40rpx;
    font-family: DIN, DIN-Medium;
    font-weight: 500;
    text-align: left;
    color: #e94e3c;
    line-height: 72rpx;
    letter-spacing: 0rpx;
  }
  
   .detailsDialog .divNum .left text:first-child {
    font-size: 24rpx;
  }
  
   .detailsDialog .divNum .right {
    display: flex;
  }
  
   .detailsDialog .divNum .divDishNum {
    font-size: 30rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 72rpx;
    letter-spacing: 0;
    width: auto;
  }
  
   .detailsDialog .divNum .divTypes {
    width: 128rpx;
    height: 48rpx;
    opacity: 1;
    background: #feca50;
    border-radius: 24rpx;
    font-size: 24rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 48rpx;
    letter-spacing: 0;
  }
  
   .detailsDialog .divNum .divSubtract{
    height: 72rpx;
  }
  
   
  .detailsDialog .divNum .divAdd {
    height: 72rpx;
  }
  
   .detailsDialog .divNum image {
    width: 72rpx;
    height: 72rpx;
  }
  
   .detailsDialog .detailsDialogClose {
    /* position: absolute; */
    /* bottom: -140rpx; */
    bottom: -140rpx;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
   .detailsDialog .detailsDialogClose image {
    
    width: 88rpx;
    height: 88rpx;
  }
  
   .setMealDetailsDialog {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
   .setMealDetailsDialog .divContainer {
    padding: 40rpx 40rpx 0 40rpx;
    overflow: auto;
    max-height: 50vh;
	
    overflow-y: auto;
  }
  .setMealDetailsDialog .image-container{

  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;


  }
   .setMealDetailsDialog .u-image {
    width: 100%;
    height: 100%;
	
  }
  
   .setMealDetailsDialog .u-image image {
    width: 100%;
    height: 100%;
	
  }
  
   .setMealDetailsDialog .divSubTitle {
    text-align: left;
    margin-top: 32rpx;
    margin-bottom: 12rpx;
    height: 50rpx;
    opacity: 1;
    font-size: 36rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: left;
    color: #333333;
    line-height: 50rpx;
    letter-spacing: 0rpx;
    position: relative;
  }
  
  .setMealDetailsDialog .divSubTitle .ellipsis{
	    display: inline-block;
	    max-width: 80%; /* 根据你的需要调整宽度 */
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	  
  }
  
   .setMealDetailsDialog .divContainer .item .divSubTitle .divPrice {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 36rpx;
    font-family: DIN, DIN-Medium;
    font-weight: 500;
    text-align: left;
    color: #e94e3c;
    line-height: 50rpx;
    letter-spacing: 0rpx;
  }
  
  
    .setMealDetailsDialog
    .divContainer
    .item
    .divSubTitle
    .divPrice
    text:first-child {
    font-size: 24rpx;
  }
  
   .setMealDetailsDialog .title {
    height: 56rpx;
    opacity: 1;
    font-size: 40rpx;
    font-family: PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    color: #333333;
    line-height: 56rpx;
    letter-spacing: 0;
    margin-top: 36rpx;
    margin-bottom: 22rpx;
  }
  
   .setMealDetailsDialog .content {
    opacity: 1;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: justify;
    color: #333333;
    line-height: 48rpx;
	max-width: fit-content;
  }
  .setMealDetailsDialog .content::after {
    content: "\A";
    white-space: pre;
  }
   .setMealDetailsDialog .divNum {
    display: flex;
    justify-content: space-between;
    margin-top: 46rpx;
    padding-bottom: 30rpx;
    padding-left: 40rpx;
    padding-right: 40rpx;
  }
  
   .setMealDetailsDialog .divNum .left {
    font-size: 40rpx;
    font-family: DIN, DIN-Medium;
    font-weight: 500;
    text-align: left;
    color: #e94e3c;
    line-height: 72rpx;
    letter-spacing: 0rpx;
  }
  
   .setMealDetailsDialog .divNum .left text:first-child {
    font-size: 24rpx;
  }
  
   .setMealDetailsDialog .divNum .right {
    display: flex;
  }
  
   .setMealDetailsDialog .divNum .divDishNum {
    font-size: 30rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 72rpx;
    letter-spacing: 0;
    width: auto;
  }
  
   .setMealDetailsDialog .divNum .divTypes {
    width: 128rpx;
    height: 48rpx;
    opacity: 1;
    background: #feca50;
    border-radius: 24rpx;
    font-size: 24rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 48rpx;
    letter-spacing: 0;
  }
  
   .setMealDetailsDialog .divNum .divSubtract,
  .divAdd {
    height: 72rpx;
  }
  
   .setMealDetailsDialog .divNum image {
    width: 72rpx;
    height: 72rpx;
  }
  
   .setMealDetailsDialog .divNum .right .addCart {
    width: 200rpx;
    height: 60rpx;
    opacity: 1;
    background: #feca50;
    border-radius: 30rpx;
    font-size: 28rpx;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 60rpx;
  }
  
   .setMealDetailsDialog .detailsDialogClose {
    position: absolute;
    bottom: -140rpx;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
   .setMealDetailsDialog .detailsDialogClose image {
    width: 88rpx;
    height: 88rpx;
  }
  